In [39]:
#download the rainfall data

import json
import urllib
import pprint
import pandas as pd

results = json.load(urllib.urlopen("https://www.kimonolabs.com/api/ckuejykq?apikey=Rm9Em3kl0DCGV5SWQ01wf0ZUG4JufvxV"))

#pprint.pprint(results)

data = results['results']['collection1']
months = ['jun','jul','aug','sep','oct','nov','dec','jan','feb','mar','apr','may']


#load into a pandas dataframe 

years = []

outdict = {'year':list()}
for month in months:
    outdict[month] = list()

#pprint.pprint(outdict)
    
for year in data:
    #print year['startyear']
    outdict['year'] = list(outdict['year']) + [year['startyear']]
    for month in months:
        #print month
        #print year['startyear'], month, year[month]
        outdict[month] = list(outdict[month]) + [year[month]]

#pprint.pprint(outdict)

for key in outdict:
    print key, len(outdict[key])

df = pd.DataFrame(outdict)
print df.head(200)

mar 166
feb 166
aug 166
sep 166
apr 166
jun 166
jul 166
jan 166
may 166
year 166
nov 166
dec 166
oct 166
      apr   aug    dec    feb    jan   jul   jun   mar   may    nov   oct  \
0    0.46  0.00   6.20   1.77   8.34  0.00  0.00  4.53  0.00   8.66  3.14
1    1.23  0.00   1.05   0.54   0.72  0.00  0.02  1.94  0.67   0.92  0.00
2    0.26  0.02   7.10   0.14   0.58  0.00  0.00  6.68  0.32   2.21  0.21
3    5.37  0.00  13.20   1.42   3.92  0.00  0.00  4.86  0.38   5.31  0.80
4    3.12  0.04   2.32   8.04   3.88  0.00  0.08  3.51  0.02   2.28  0.12
5    4.99  0.01   0.87   4.77   3.67  0.00  0.08  4.64  1.88   0.34  2.43
6    2.94  0.00   5.76   0.50   9.40  0.00  0.03  1.60  0.76   0.67  0.00
7    0.00  0.00   3.75   8.59   2.45  0.02  0.12  1.62  0.05   2.79  0.45
8    1.55  0.05   4.14   1.83   4.36  0.00  0.05  5.55  0.34   3.01  0.93
9    0.27  0.16   6.14   6.32   1.28  0.05  0.00  3.02  1.55   0.69  2.74
10   3.14  0.02   1.57   1.60   1.64  0.00  0.09  3.99  2.86   7.28  0.05
11   0.51  0.00   6.16   3.72   2.47  0.21  0.08  4.08  1.00   0.58  0.91
12   0.73  0.00   9.54   7.53  24.36  0.00  0.05  2.20  0.74   4.10  0.00
13   1.61  0.00   2.35   3.19   3.63  0.00  0.00  2.06  0.23   0.15  0.52
14   1.57  0.00   1.80   0.00   1.83  0.00  0.00  1.52  0.78   2.55  0.00
15   0.94  0.21   8.91   1.34   5.14  0.00  0.00  0.74  0.63   6.68  0.13
16   0.12  0.00   0.58   2.12  10.88  0.00  0.04  3.04  1.46   4.19  0.26
17   2.36  0.00  15.16   7.20   5.16  0.00  0.00  1.58  0.00   3.35  0.00
18   2.31  0.00  10.69   6.13   9.50  0.00  0.23  6.30  0.03   3.41  0.20
19   2.19  0.00   4.34   3.90   6.35  0.00  0.02  3.14  0.08   1.18  0.15
20   1.53  0.00   4.31   4.78   3.89  0.00  0.00  2.00  0.20   1.19  1.29
21   1.89  0.00   3.38   3.76   3.07  0.00  0.01  1.31  0.23   0.43  0.00
22   0.81  0.02  14.36   6.90   4.00  0.00  0.04  1.59  0.18   2.81  0.07
23   0.43  0.00   5.95   3.94   1.58  0.01  0.02  0.79  0.00   2.79  0.11
24   0.90  0.08   9.72   2.21   5.66  0.01  0.14  3.36  0.66   1.16  0.83
25   0.10  0.00   0.33   0.32   8.01  0.00  1.02  1.30  0.22   6.55  2.69
26   1.29  0.00   4.15   4.92   7.55  0.00  0.04  5.49  0.24   7.27  0.24
27   0.26  0.01   0.00   1.18   4.32  0.01  0.01  1.08  0.18   0.25  3.36
28   1.06  0.00   2.66  12.52  11.97  0.02  0.01  4.56  0.16   1.57  0.65
29   1.89  0.00   0.58   4.90   3.52  0.01  0.05  8.75  2.35   0.57  1.27
..    ...   ...    ...    ...    ...   ...   ...   ...   ...    ...   ...
136  0.76  0.00   2.47   8.29   4.77  0.00  0.00  6.25  0.13   4.83  0.80
137  0.14  0.01   1.64   3.77   4.26  0.03  0.01  2.31  0.06   0.20  0.11
138  1.73  0.00   5.09   0.40   4.93  0.00  0.70  0.07  0.66   3.09  1.07
139  0.70  0.00   4.23   1.49   1.26  0.00  0.07  5.28  0.06   3.70  0.64
140  0.58  0.05   0.00   2.45   4.02  0.00  0.01  1.34  2.38   1.33  1.18
141  1.07  0.04   1.94   3.29   0.60  0.00  0.05  5.89  0.36   0.52  0.20
142  0.38  0.42   2.32   6.34   2.09  0.00  0.39  4.41  0.00   0.50  2.35
143  0.71  0.02   6.03   4.48   9.82  0.00  0.27  2.90  0.87   0.40  1.16
144  1.12  0.00   2.25   4.87   2.77  0.00  0.06  0.35  1.31   2.16  0.33
145  1.61  0.00   2.69   0.24   8.97  0.00  0.62  7.88  0.97  10.49  0.33
146  1.56  0.00   8.13   5.28   6.71  0.00  0.00  1.28  1.79   0.08  0.06
147  0.29  0.00   7.63   0.32   7.54  0.00  0.30  0.58  0.16   4.73  1.04
148  2.13  0.73   2.77  14.89  12.08  0.00  0.15  2.54  3.92   6.97  1.00
149  2.58  0.01   1.42   7.35   4.41  0.01  0.12  2.34  0.23   4.02  0.91
150  1.66  0.10   0.62   8.97   6.38  0.00  0.16  2.04  1.40   2.32  0.65
151  1.89  0.02   0.90   7.73   3.76  0.02  0.15  1.58  0.00   0.85  2.36
152  0.52  0.05  10.75   2.59   2.13  0.01  0.01  2.27  0.84   5.18  0.50
153  3.60  0.03  12.03   1.80   1.75  0.00  0.00  1.71  0.93   2.00  0.01
154  0.18  0.06   7.69   5.67   3.40  0.00  0.00  1.16  0.12   2.22  0.04
155  2.19  0.05   7.98   5.19   4.82  0.00  0.92  4.67  1.32   2.07  2.62
156  5.02  0.01  11.17   2.81   3.52  0.02  0.00  8.74  0.41   2.21  0.51
157  1.44  0.00   5.31   4.79   0.72  0.00  0.00  0.52  0.43   3.05  0.63
158  0.14  0.00   3.04   1.87   8.86  0.02  0.00  0.33  0.03   0.96  2.01
159  0.24  0.01   2.82   7.92   0.90  0.00  0.00  2.76  0.80   2.31  0.35
160  3.59  0.00   2.77   3.42   6.66  0.00  0.07  2.79  0.95   0.45  3.11
161  0.56  0.01   6.71   4.94   1.55  0.00  2.02  7.02  1.13   3.10  1.81
162  2.64  0.03   0.14   1.09   2.68  0.08  0.14  5.70  0.02   1.74  1.38
163  1.01  0.01   7.11   0.85   0.49  0.01  0.15  0.97  0.04    4.5  1.47
164  1.59  0.04   0.39   5.82   0.06     0  0.01  2.95  0.03   1.26     0
165  1.30  0.01  11.70   1.47   0.00  0.08  0.12  0.12  0.09   2.29  0.46

      sep  year
0    0.00  1849
1    0.33  1850
2    1.03  1851
3    0.00  1852
4    0.46  1853
5    0.15  1854
6    0.00  1855
7    0.07  1856
8    0.00  1857
9    0.00  1858
10   0.03  1859
11   0.00  1860
12   0.02  1861
13   0.00  1862
14   0.03  1863
15   0.01  1864
16   0.24  1865
17   0.11  1866
18   0.04  1867
19   0.00  1868
20   0.12  1869
21   0.03  1870
22   0.00  1871
23   0.04  1872
24   0.00  1873
25   0.02  1874
26   0.00  1875
27   0.38  1876
28   0.00  1877
29   0.55  1878
..    ...   ...
136  0.38  1985
137  1.32  1986
138  0.00  1987
139  0.00  1988
140  0.98  1989
141  0.12  1990
142  0.00  1991
143  0.00  1992
144  0.00  1993
145  0.22  1994
146  0.00  1995
147  0.04  1996
148  0.04  1997
149  0.09  1998
150  0.59  1999
151  0.21  2000
152  0.18  2001
153  0.01  2002
154  0.00  2003
155  0.04  2004
156  0.00  2005
157  0.00  2006
158  0.09  2007
159  0.00  2008
160  0.28  2009
161  0.02  2010
162  0.00  2011
163     0  2012
164  0.39  2013
165  0.55  2014

[166 rows x 13 columns]